.App{
background-color: black;
h1{
  color: white;
  text-align: center;
  font-size: 90px;
  font-weight: 700;
  line-height: 187px;
}
}

.search{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}